In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [2]:
##read in csvs
constructors = pd.read_csv("constructors.csv")
constructor_standings = pd.read_csv("constructor_standings.csv")
constructor_results = pd.read_csv("constructor_results.csv")

constructors = constructors.drop(columns=['url']) #drop url column
constructors

     constructorId constructorRef            name nationality
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
206            209          manor  Manor Marussia     British
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French

[211 rows x 4 columns]

In [3]:
#Merge constructor table with constructor standings
constructor_master = constructors.merge(constructor_standings,on='constructorId')
#constructor_master = constructor_master.merge(constructor_results,on=['constructorId','raceId'])
constructor_master

,constructorId,constructorRef,name,nationality,constructorStandingsId,raceId,points,position,positionText,wins
0,1,mclaren,McLaren,British,1,18,14.0,1,1,1
1,1,mclaren,McLaren,British,7,19,24.0,1,1,1
2,1,mclaren,McLaren,British,18,20,28.0,3,3,1
3,1,mclaren,McLaren,British,29,21,34.0,3,3,1
4,1,mclaren,McLaren,British,40,22,42.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...
12581,214,alpine,Alpine F1 Team,French,27740,1056,17.0,7,7,0
12582,214,alpine,Alpine F1 Team,French,27750,1057,25.0,7,7,0
12583,214,alpine,Alpine F1 Team,French,27760,1059,29.0,7,7,0
12584,214,alpine,Alpine F1 Team,French,27770,1058,31.0,7,7,0
12585,214,alpine,Alpine F1 Team,French,27790,1060,32.0,7,7,0

In [4]:
##Create DataFrame consisting of races, driver standings, drivers and qualifying results
races = pd.read_csv("races.csv").drop(columns=['url'])
drivers = pd.read_csv("drivers.csv").drop(columns=['url'])
driver_standings = pd.read_csv("driver_standings.csv")
##merge races with driver standings and drivers
races_standings = races.merge(driver_standings,on=['raceId'])
races_standings = races_standings.merge(drivers,on=['driverId'])
#drop non-needed columns
races_standings = races_standings.drop(columns=['positionText','driverRef','name'])

races_standings

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number,code,forename,surname,dob,nationality
0,1,2009,1,1,2009-03-29,06:00:00,8261,8,0.0,15,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
1,2,2009,2,2,2009-04-05,09:00:00,17665,8,0.0,18,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
2,3,2009,3,17,2009-04-19,07:00:00,17725,8,0.0,16,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
3,4,2009,4,3,2009-04-26,12:00:00,17765,8,3.0,12,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
4,5,2009,5,4,2009-05-10,12:00:00,17785,8,3.0,13,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33120,1056,2021,5,6,2021-05-23,13:00:00,70359,852,2.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33121,1057,2021,6,73,2021-06-06,12:00:00,70379,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33122,1058,2021,8,70,2021-06-27,13:00:00,70419,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33123,1059,2021,7,34,2021-06-20,13:00:00,70399,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33124,1060,2021,9,70,2021-07-04,13:00:00,70459,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese

In [5]:
#merge each drivers qualifying results on the race and driver id
qualifying = pd.read_csv('qualifying.csv')
qualifying = qualifying.rename(columns={'position':'qualifier_position'})
races_standings = races_standings.merge(qualifying,on=['raceId','driverId'])
races_standings2 = races_standings.loc[races_standings.raceId==1000]
races_standings2

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,code,forename,surname,dob,nationality,qualifyId,constructorId,number_y,qualifier_position,q1,q2,q3
250,1000,2018,12,11,2018-07-29,13:10:00,68871,8,146.0,3,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish,7760,6,7,3,1:17.526,1:32.762,1:36.186
606,1000,2018,12,11,2018-07-29,13:10:00,68869,20,189.0,2,4,5,VET,Sebastian,Vettel,1987-07-03,German,7761,6,5,4,1:16.666,1:28.636,1:36.210
1845,1000,2018,12,11,2018-07-29,13:10:00,68873,4,44.0,9,0,14,ALO,Fernando,Alonso,1981-07-29,Spanish,7768,1,14,11,1:18.208,1:35.214,NaN
3246,1000,2018,12,11,2018-07-29,13:10:00,68870,1,213.0,1,5,44,HAM,Lewis,Hamilton,1985-01-07,British,7778,131,44,1,1:17.419,1:31.242,1:35.658
3483,1000,2018,12,11,2018-07-29,13:10:00,68884,154,21.0,14,0,8,GRO,Romain,Grosjean,1986-04-17,French,7767,210,8,10,1:17.901,1:33.650,1:40.593
6102,1000,2018,12,11,2018-07-29,13:10:00,68875,807,52.0,7,0,27,HUL,Nico,HÃ¼lkenberg,1987-08-19,German,7770,4,27,13,1:17.905,1:36.506,NaN
6590,1000,2018,12,11,2018-07-29,13:10:00,68879,815,30.0,10,0,11,PER,Sergio,PÃ©rez,1990-01-26,Mexican,7776,10,11,19,1:19.200,NaN,NaN
6784,1000,2018,12,11,2018-07-29,13:10:00,68872,817,118.0,5,2,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,7769,9,3,12,1:18.540,1:36.442,NaN
7106,1000,2018,12,11,2018-07-29,13:10:00,68876,822,132.0,4,0,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,7779,131,77,2,1:17.123,1:32.081,1:35.918
7322,1000,2018,12,11,2018-07-29,13:10:00,68885,825,45.0,8,0,20,MAG,Kevin,Magnussen,1992-10-05,Danish,7766,210,20,9,1:18.314,1:32.968,1:39.858
7456,1000,2018,12,11,2018-07-29,13:10:00,68887,828,5.0,17,0,9,ERI,Marcus,Ericsson,1990-09-02,Swedish,7771,15,9,14,1:18.641,1:37.075,NaN
7707,1000,2018,12,11,2018-07-29,13:10:00,68878,832,30.0,11,0,55,SAI,Carlos,Sainz,1994-09-01,Spanish,7762,4,55,5,1:17.829,1:30.771,1:36.743
7835,1000,2018,12,11,2018-07-29,13:10:00,68874,830,105.0,6,1,33,VER,Max,Verstappen,1997-09-30,Dutch,7764,9,33,7,1:16.940,1:31.178,1:38.032
8028,1000,2018,12,11,2018-07-29,13:10:00,68877,838,8.0,16,0,2,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,7773,1,2,16,1:18.782,NaN,NaN
8077,1000,2018,12,11,2018-07-29,13:10:00,68880,839,29.0,12,0,31,OCO,Esteban,Ocon,1996-09-17,French,7775,10,31,18,1:19.142,NaN,NaN
8192,1000,2018,12,11,2018-07-29,13:10:00,68882,840,4.0,18,0,18,STR,Lance,Stroll,1998-10-29,Canadian,7772,3,18,15,1:18.560,NaN,NaN
8263,1000,2018,12,11,2018-07-29,13:10:00,68886,842,26.0,13,0,10,GAS,Pierre,Gasly,1996-02-07,French,7763,5,10,6,1:18.577,1:31.286,1:37.591
8335,1000,2018,12,11,2018-07-29,13:10:00,68883,843,2.0,19,0,28,HAR,Brendon,Hartley,1989-11-10,New Zealander,7765,5,28,8,1:18.429,1:32.590,1:38.128
8356,1000,2018,12,11,2018-07-29,13:10:00,68881,844,13.0,15,0,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,7774,15,16,17,1:18.817,NaN,NaN
8424,1000,2018,12,11,2018-07-29,13:10:00,68888,845,0.0,20,0,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,7777,3,35,20,1:19.301,NaN,NaN

In [6]:
#Read results.csv
results = pd.read_csv('results.csv')

In [7]:
#only show top 3 (podium) of each race since 2010
#add in fastestLapTime, fastestLapSpeed, statusId of each driver in each race
races_standings = races_standings.loc[races_standings.position<=10]
races_standings = races_standings.sort_values(by=['raceId','position'])
races_standings = races_standings.loc[races_standings.year>=2010]
races_standings = races_standings.merge(results[['raceId','driverId','fastestLapTime','fastestLapSpeed','statusId']],on=['raceId','driverId'])
races_standings = races_standings.drop(columns=['code','number_y','dob'])
races_standings.loc[races_standings.circuitId==9]

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,forename,surname,nationality,qualifyId,constructorId,qualifier_position,q1,q2,q3,fastestLapTime,fastestLapSpeed,statusId
90,346,2010,10,9,2010-07-11,12:00:00,63979,1,145.0,1,2,44,Lewis,Hamilton,British,3545,1,4,1:31.297,1:31.118,1:30.556,1:32.758,228.633,1
91,346,2010,10,9,2010-07-11,12:00:00,63983,18,133.0,2,2,22,Jenson,Button,British,3555,1,14,1:31.435,1:31.699,\N,1:33.003,228.031,1
92,346,2010,10,9,2010-07-11,12:00:00,63984,17,128.0,3,3,\N,Mark,Webber,Australian,3543,9,2,1:30.858,1:30.114,1:29.758,1:32.364,229.608,1
93,346,2010,10,9,2010-07-11,12:00:00,63980,20,121.0,4,2,5,Sebastian,Vettel,German,3542,9,1,1:30.841,1:30.480,1:29.615,1:31.967,230.600,1
94,346,2010,10,9,2010-07-11,12:00:00,63977,4,98.0,5,1,14,Fernando,Alonso,Spanish,3544,6,3,1:30.997,1:30.700,1:30.426,1:30.874,233.373,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007,1035,2020,5,9,2020-08-09,13:10:00,69892,846,38.0,5,0,4,Lando,Norris,British,8467,1,10,1:27.217,1:26.885,1:26.778,1:30.698,233.826,1
2008,1035,2020,5,9,2020-08-09,13:10:00,69902,848,36.0,6,0,23,Alexander,Albon,Thai,8466,9,9,1:27.153,1:26.642,1:26.669,1:29.477,237.017,1
2009,1035,2020,5,9,2020-08-09,13:10:00,69907,840,28.0,7,0,18,Lance,Stroll,Canadian,8463,211,6,1:27.187,1:26.674,1:26.428,1:30.877,233.365,1
2010,1035,2020,5,9,2020-08-09,13:10:00,69908,817,20.0,9,0,3,Daniel,Ricciardo,Australian,8462,4,5,1:27.442,1:26.636,1:26.297,1:31.168,232.621,11
2011,1035,2020,5,9,2020-08-09,13:10:00,69897,839,16.0,10,0,31,Esteban,Ocon,French,8468,4,11,1:27.278,1:27.011,\N,1:30.575,234.144,1

In [10]:
lap_times = pd.read_csv('lap_times.csv')
lap_times = lap_times.drop(columns=['lap','position','time'])
lap_times = lap_times.groupby(['raceId','driverId']).mean().reset_index()
lap_times = lap_times.rename(columns={"milliseconds": "avgLapTimeMS"})
lap_times2 = lap_times[lap_times.raceId==1035]
lap_times2

      raceId  driverId  avgLapTimeMS
9038    1035         1  92179.211538
9039    1035         8  94216.411765
9040    1035        20  93372.365385
9041    1035       154  94258.960784
9042    1035       807  93037.384615
9043    1035       817  93894.980392
9044    1035       822  92331.230769
9045    1035       825  95241.023256
9046    1035       826  93301.192308
9047    1035       830  91961.403846
9048    1035       832  93385.826923
9049    1035       839  93207.038462
9050    1035       840  92779.442308
9051    1035       841  94372.686275
9052    1035       842  93319.903846
9053    1035       844  92524.653846
9054    1035       846  93221.865385
9055    1035       847  94389.980392
9056    1035       848  92714.211538
9057    1035       849  94401.882353

In [11]:
#races_standings = races_standings.merge(lap_times[['raceId','driverId','avgLapTimeMS']],on=['raceId','driverId'])
races_standings[races_standings.raceId==1035]

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,forename,surname,nationality,qualifyId,constructorId,qualifier_position,q1,q2,q3,fastestLapTime,fastestLapSpeed,statusId,avgLapTimeMS
1958,1035,2020,5,9,2020-08-09,13:10:00,69893,1,107.0,1,3,44,Lewis,Hamilton,British,8459,131,2,1:26.818,1:26.266,1:25.217,1:28.451,239.766,1,92179.211538
1959,1035,2020,5,9,2020-08-09,13:10:00,69909,830,77.0,2,1,33,Max,Verstappen,Dutch,8461,9,4,1:27.154,1:26.779,1:26.176,1:29.465,237.049,1,91961.403846
1960,1035,2020,5,9,2020-08-09,13:10:00,69890,822,73.0,3,1,77,Valtteri,Bottas,Finnish,8458,131,1,1:26.738,1:25.785,1:25.154,1:29.765,236.256,1,92331.230769
1961,1035,2020,5,9,2020-08-09,13:10:00,69891,844,45.0,4,0,16,Charles,Leclerc,Monegasque,8465,6,8,1:27.427,1:26.709,1:26.614,1:30.552,234.203,1,92524.653846
1962,1035,2020,5,9,2020-08-09,13:10:00,69892,846,38.0,5,0,4,Lando,Norris,British,8467,1,10,1:27.217,1:26.885,1:26.778,1:30.698,233.826,1,93221.865385
1963,1035,2020,5,9,2020-08-09,13:10:00,69902,848,36.0,6,0,23,Alexander,Albon,Thai,8466,9,9,1:27.153,1:26.642,1:26.669,1:29.477,237.017,1,92714.211538
1964,1035,2020,5,9,2020-08-09,13:10:00,69907,840,28.0,7,0,18,Lance,Stroll,Canadian,8463,211,6,1:27.187,1:26.674,1:26.428,1:30.877,233.365,1,92779.442308
1965,1035,2020,5,9,2020-08-09,13:10:00,69908,817,20.0,9,0,3,Daniel,Ricciardo,Australian,8462,4,5,1:27.442,1:26.636,1:26.297,1:31.168,232.621,11,93894.980392
1966,1035,2020,5,9,2020-08-09,13:10:00,69897,839,16.0,10,0,31,Esteban,Ocon,French,8468,4,11,1:27.278,1:27.011,\N,1:30.575,234.144,1,93207.038462